<body>
    <div class="container">
        <img class="ImgLogo" src="./assets/imajenes/logo.png" alt="">
        <h2 class="Txt1">Iniciar sesión</h2>
        <img class="ImgUsuario" src="./assets/imajenes/iconoUsuario.png" alt="">
        
        <form>
            <p class="Txt2">Username</p>
            <input type="text" name="Ussername" placeholder="">
        
            <p class="Txt2">Password</p>
            <input type="password" name="Password" placeholder="">
        
            <br><br>
            
            <input class="Iniciar" type="button" value="Iniciar sesión">
        
            <h2 class="Txt3">o Regístrate</h2>
            
            <a href="/paginas/crearCuenta">
                <input class="bRegístrarse" type="button" value="Regístrarse">
            </a>
        </form>
    </div>
    
</body>

