<body>
   <div class="container">

    <img class="ImgUPS" src="./assets/imajenes/logo.png" alt="">
    <h2 class="Txt1" >Crea una cuenta</h2>
    
   <form>

    <p class="Txt2" >Ussername</p>
    <input type="Cajatext" name="Ussername" placeholder="">

    <p class="Txt2"> Correo Electrónico</p>
    <input type="Cajatext" name="Correo" placeholder="">

    <p class="Txt2" >Password</p>
    <input type="password" name="Password" placeholder="">

    <p class="Txt2" >Fecha de Nacimiento</p>
    <input type="date" name="Fecha" placeholder="">

    
    <input class="Crear" type="button" value="Crear Cuenta">

  </form>



</div> 
</body>
