<div class="btn-menu">
    <label class="logoMenu" for="btn-menu">
        <i class="bi bi-arrows-angle-expand"></i>
    </label>
</div>

<input type="checkbox" id="btn-menu" />

<div class="container-menu">
  <div class="cont-menu">
    <div class="user-info">
      <img src="./assets/imajenes/kkd.png" />
      <h2 class="titulo2">Historial</h2>
    </div>

    <nav>
      <a href="">Chat 1</a>
      <a href="">Chat 2</a>
      <a href="">Chat 3</a>
    </nav>

    <div class="close-button">
      <a class="IniSe" href="/paginas/inicio">Inicio</a>
      <label class="btn-menu" for="btn-menu">Cerrar</label>
    </div>
  </div>
</div>
