<body>
  <div class="container">
    <label class="logoMenu" for="btn-menu">
      <a class="IniSe" href="/paginas/iniciarSesion"
        ><i class="bi bi-person-circle"></i
      ></a>
    </label>

    <img class="ImgLogo" src="./assets/imajenes/logo.png" alt="" />

    <div class="chat-box">
      <div class="message user-message">
        Tengo una familia de 5 personas quiero un carro Audi con un buen consumo
        de gasolina y buenas prestaciones que me recomiendas.
      </div>
    </div>

    <div class="input-box">
      <input type="text" placeholder="Escribe un mensaje..." />
      <button class="enviar"><i class="bi bi-send-fill"></i></button>
      <button class="micro"><i class="bi bi-mic-fill"></i></button>
    </div>
  </div>
</body>
